@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  overflow: hidden !important;
}

.body-container {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 5%;
      grid-template-columns: 5% 1fr 5%;
  -ms-grid-rows: 5% 1fr 5%;
      grid-template-rows: 5% 1fr 5%;
  grid-row-gap: 1em;
  overflow: hidden !important;
  background: #0a0a0a;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-family: "Poppins";
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

header .nav-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

header .nav-title .logo {
  font-size: 6px;
  margin-top: 5px;
}

header .nav-title .logo a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
}

header .nav-title nav {
  font-size: 11px;
  margin-top: 6px;
}

header .nav-title nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

header .nav-title nav ul a {
  text-decoration: none;
  color: #e5c720;
  padding: 5px;
}

.social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.social .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social .social-links a {
  color: #e5c720;
  margin: 0;
  padding: 1px;
}

.social .social-links a svg {
  width: 20px;
  height: 20px;
  margin: 0 1em;
}

.first-interaction {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  position: relative;
}

.first-interaction .identity-interaction {
  position: absolute;
  top: 20%;
  right: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.first-interaction .identity-interaction h1::after {
  content: "";
  position: absolute;
  top: 80%;
  right: 0%;
  background-color: #e5c720;
  width: 500px;
  height: 5px;
}

.first-interaction .skill-interaction {
  position: absolute;
  top: 60%;
  left: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.first-interaction .skill-interaction h1::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  background-color: #e5c720;
  width: 500px;
  height: 5px;
}

.cover {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  background-color: #e5c720;
  z-index: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.cover i {
  position: absolute;
  top: 3%;
  left: 5%;
  cursor: crosshair;
}

.cover .identity-cover {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  header .nav-title .logo {
    font-size: 0.6rem;
    margin-top: 5px;
  }
  header .links ul {
    margin-top: 2px;
    font-size: 1rem;
  }
  .social {
    margin-right: 1rem;
    position: absolute;
    top: 82%;
  }
  .social .social-links a svg {
    height: 25px;
    width: 25px;
    margin: 3px;
  }
}
/*# sourceMappingURL=about.css.map */