* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
html {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  overflow: hidden !important;
  box-sizing: border-box;
  min-width: 100%;
}
.body-container {
  box-sizing: border-box !important;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 5% 10% 1fr 5%;
  grid-row-gap: 1em;
  overflow: hidden !important;
  background: #202020;
  height: 100%;
  // height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
// .page{
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     display: grid;
//     grid-template-columns: 5% 1fr 5%;
//     grid-template-rows: 10% 1fr 1fr;
//     // grid-row-gap: 10px;
//     top: 0%;
//     left: 0%;
//     .images{
//         width: 100%;
//         height: 100%;
//         background: white;
//         cursor: crosshair;
//         grid-column: 2/3;
//         grid-row: 2/3;
//         justify-content: center;
//         align-content: center;
//         img{
//             box-sizing: border-box;
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             border: 10px solid white;
//             overflow: hidden;
//             // box-shadow: 5px 10px 18px black;
//         }
//     }
//     .content{
//         width: 100%;
//         height: 100%;
//         grid-column: 1/4;
//         grid-row: 3/4;
//         font-family: 'Montserrat';
//         background: white;
//         color: black;
//         overflow: hidden;
//         position: relative;
//         // transform: translateY(100%);
//         .content-header{
//             position: absolute;
//             top: 5%;
//             left: 5%;
//             text-transform: uppercase;
//             font-size: 1.4em;
//             font-weight: lighter;
//             margin-bottom: 10px;
//         }
//         .content-info{
//             position: absolute;
//             top: 25%;
//             left: 5%;
//             width: 85%;
//             margin: 0 auto;
//             color: red;
//             font-family: 'Montserrat';
//             font-weight: lighter;
//         }
//     }
//     .activeState{
//         transform: translateY(100%);
//     }
// }
// .pages {
//     display: none;
//     position: absolute;
//     right: 2%;
//     top: 50%;
//     transform: translateY(-50%);
//   }
//   .pages > div {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-bottom: 20px;
//   }
//   .pages svg {
//     cursor: pointer;
//     opacity: 0.5;
//     transform: scale(2);
//   }
//   .pages svg:hover {
//     animation: dot 0.5s ease-in-out infinite alternate;
//   }

//   .pages svg.active {
//     opacity: 1;
//   }
//   .image{
//       opacity: 0;
//       pointer-events: none;
//   }
//   @keyframes dot {
//     0% {
//       transform: scale(2);
//     }
//     100% {
//       transform: scale(4);
//     }
//   }
.portfolio-heading {
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    border: 1px solid white;
    padding: 10px 20px;
  }
}
.swiper-container {
  box-sizing: border-box;
  width: 100%;
  grid-column: 2/3;
  grid-row: 3/4;
  // position: absolute;
  // top: 45%;
  // left: 50%;
  // transform: translate(-50%,-50%);
  // padding-top: 50px;
  // padding-bottom: 50px;
}
.swiper-slide {
  // background-position: center;
  // background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20%;
  img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
  }
  .content {
    grid-column: 1/2;
    grid-row: 2/3;
    span {
      font-family: "Montserrat";
      color: white;
      font-size: 1.5em;
    }
    p {
      font-family: "Poppins";
      color: white;
      margin-top: 5px;
      font-weight: lighter;
      font-size: 14px;
    }
  }
}
.swiper-pagination {
  display: none;
}
// .animsition{
//     width: 100%;
//     height: 100vh;
// }
header {
  box-sizing: border-box;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Poppins";
  font-weight: bold;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-title {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 1em 0 0 0;
    .logo {
      font-size: 6px;
      margin-top: 5px;
      a {
        text-decoration: none;
        color: white;
        font-family: "Poppins";
        font-weight: bold;
      }
    }
    .links {
      font-family: "Poppins", sans-serif;
      font-size: 11px;
      margin-top: 6px;
      ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        a {
          text-decoration: none;
          color: #e5c720;
          padding: 5px;
        }
      }
    }
  }
}
.social {
  box-sizing: border-box;
  grid-column: 2/3;
  grid-row: 4/5;
  cursor: pointer;
  z-index: 1;
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: white;
      margin: 0;
      padding: 1px;
      svg {
        width: 20px;
        height: 20px;
        margin: 0 1em;
      }
    }
  }
}
// footer{
//     position: absolute;
//     top:85.5%;
//     margin-left: 2em;
//     font-family: 'Poppins';
//     font-weight: bold;
//     h1{
//         font-size: 4.5em;
//         color: red;
//     }
// }
@media only screen and (min-width: ) {
}
