* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  overflow: hidden !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100%;
}

.body-container {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 5%;
      grid-template-columns: 5% 1fr 5%;
  -ms-grid-rows: 5% 10% 1fr 5%;
      grid-template-rows: 5% 10% 1fr 5%;
  grid-row-gap: 1em;
  overflow: hidden !important;
  background: #202020;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.portfolio-heading {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-heading h2 {
  border: 1px solid white;
  padding: 10px 20px;
}

.swiper-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 20%;
      grid-template-rows: 1fr 20%;
}

.swiper-slide img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

.swiper-slide .content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.swiper-slide .content span {
  font-family: "Montserrat";
  color: white;
  font-size: 1.5em;
}

.swiper-slide .content p {
  font-family: "Poppins";
  color: white;
  margin-top: 5px;
  font-weight: lighter;
  font-size: 14px;
}

.swiper-pagination {
  display: none;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-family: "Poppins";
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
  padding: 1em 0 0 0;
}

header .nav-title .logo {
  font-size: 6px;
  margin-top: 5px;
}

header .nav-title .logo a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
}

header .nav-title .links {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  margin-top: 6px;
}

header .nav-title .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

header .nav-title .links ul a {
  text-decoration: none;
  color: #e5c720;
  padding: 5px;
}

.social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  cursor: pointer;
  z-index: 1;
}

.social .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social .social-links a {
  color: white;
  margin: 0;
  padding: 1px;
}

.social .social-links a svg {
  width: 20px;
  height: 20px;
  margin: 0 1em;
}
/*# sourceMappingURL=portfolio.css.map */