* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #202020;
  overflow: hidden;
}

@font-face {
  font-family: 'MADE Soulmaze';
  src: url("/fonts/MADESoulmaze.woff") format("woff"), url("/fonts/MADESoulmaze.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  position: absolute;
  top: 0%;
  font-family: 'Poppins';
  font-weight: bold;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  z-index: 1;
}

header .nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
}

header .nav-title .logo {
  font-size: 9px;
}

header .nav-title .logo a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
}

header .nav-title nav {
  font-size: 13px;
  margin-top: 4px;
}

header .nav-title nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

header .nav-title nav ul a {
  text-decoration: none;
  color: red;
  padding: 5px;
}

.social {
  position: absolute;
  top: 83%;
  right: 2%;
  margin-right: 2em;
  z-index: 1;
}

.social .social-links a {
  color: white;
  margin: 15px 0;
  padding: 1px;
}

.social .social-links a svg {
  margin-bottom: 8px;
}

.page {
  width: 100%;
  height: 100vh;
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: 'Montserrat';
  font-weight: bold;
}

.page .details {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.page .details h1 {
  font-size: 4.5em;
}

.page .details p {
  margin-left: 10px;
  margin-top: 2.3em;
  font-weight: normal;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pages > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.pages svg:hover {
  -webkit-animation: dot 0.5s ease-in-out infinite alternate;
          animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

.info .details {
  width: 70%;
  font-weight: normal;
}

.info, .skill {
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

footer {
  position: absolute;
  top: 88%;
  margin-left: 2em;
  font-family: 'Poppins';
  font-weight: bold;
}

footer h1 {
  font-size: 4.5em;
  color: red;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .details {
    font-size: 1.5em;
  }
  .ten {
    font-size: 20px;
    font-weight: normal;
  }
}

@media (min-width: 1080px) {
  .details {
    font-size: 2.5em;
  }
  .ten {
    font-size: 20px;
    font-weight: normal;
  }
}
/*# sourceMappingURL=about.css.map */