*{
    margin: 0;
    padding: 0;
}
:root{
    
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    // height: 100vh;
    box-sizing: border-box;
    background: #202020;
    overflow: hidden !important;
    overflow-y: hidden !important;
    height: calc(var(--vh, 1vh) * 100);
}
// .animsition{
//     width: 100%;
//     height: 100vh;
// }
// .animation-wrapper {
//     width: 100%;
//     max-width: 910px;
//     margin-left: 32px;
//     margin-right: 32px;
//   }
  
// .easing-visualizer {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 910px;
//     height: 455px;
//     margin: -227px 0 0 -455px;
//   }
  
//   .easing-visualizer .wrapper {
//     position: absolute;
//     bottom: 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 100%;
//     height: 100%;
//   }
  
//   .bars-wrapper,
//   .dots-wrapper {
//     transform: translateZ(0);
//   }
  
//   .easing-visualizer .bar {
//     width: 10px;
//     height: 10px;
//     margin: 0;
//     background-image: linear-gradient(180deg, #373734 0%, #242423 52%, #0D0D0C 100%);
//     transform-origin: 50% 50%;
//   }
  
//   .easing-visualizer .dot {
//     position: relative;
//     width: 10px;
//     height: 10px;
//     margin: 0;
//     background-color: red;
//     border-radius: 50%;
//   }
header{
    position: absolute;
    top: 0%;
    // height: 20vh;
    font-family: 'Poppins';
    font-weight: bold;
    // color: white;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
    .nav-title{
        display: flex;
        justify-content: space-between;
        margin: 1em 2em 2em 2em;
        .logo{
            font-size: 6px;
            margin-top: 5px;
            a{
                text-decoration: none;
                color: white;
                font-family: 'Poppins';
                font-weight: bold;
            }
        }
        nav {
        font-size: 11px;
        margin-top: 5px;
            ul{
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            a{
                text-decoration: none;
                color: red;
                padding: 5px;
            }
            }
        }
    }
}
.social{
    position: absolute;
    top: 78%;
    right: 2%;
    margin-right: 2em;
    z-index: 1;
    .social-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            color:white;
            margin: 0;
            padding: 1px;
            svg{
                width: 23px;
                height: 23px;
                margin: 3px; 
            }
        }
    }
}
main{
    width: 85%;
    height: 80vh;
    font-family: 'Montserrat';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .contact-info{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-transform: uppercase;
        border: 1px solid white;
        padding: 10px 15px;
        h2{
            font-size: 1em;
        }
    }
    .message{
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translatex(-50%);
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: white;
        p{
            font-size: 1em;
        }

    }
    
        .form{
           width: 85%;
           height: 50%;
           position: relative;
           top: 25%;
           left: 50%;
           transform: translatex(-50%);
           overflow: hidden;
           section{
               width: 100%;
               height: 30px;
               margin-top: 1em;
           }
           .name-info{
               position: absolute;
               top: 0;
               left: 0;
           }
           .email-info{
               position: absolute;
               top: 20%;
               left: 0;
           }
           .message-info{
               position: absolute;
               top: 60%;
               left: 0;
               
           }
           .subject-info{
               position: absolute;
               top: 40%;
               left: 0;
           }
           .submit-btn{
               position: absolute;
               top: 80%;
               left: 0;
               .btn{
                   width: 100%;
                   height: 30px;
                   font-family: 'Montserrat';
                   font-weight: lighter;
                   font-size: 16px;
                   border: none;
                   cursor: crosshair;
                   outline: none;
                   background: none;
                   color: white;
               }
               .btn::after{
                   content: "→";
                   padding-left: 10px;
                   align-items: center;
               }
               .btn::before{
                   background: red;
                   content: " ";
                   position: absolute;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%);
                    transition: all 0.6s ease;
                    z-index: -1;
                    width: 0%;
                    height: 100%;
               }
               .btn:hover::before{
                    width: 100%;
               }
               
           }
            input{
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                color: red;
                padding-top: 15px;
                background: #202020;
                border: none;
                outline: none;
                font-size: 16px;
                font-family: 'Montserrat';
            }
            label{
                position: absolute;
                top: 0%;
                bottom: 0;
                left: 0;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                pointer-events: none;
                color: white;
                border-bottom: 1px solid lightcyan;
            }
            label::after{
                content: " ";
                position: absolute;
                top: 1px;
                left: 0;
                bottom: 0px;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border-bottom: 3px solid red;
                transform: translateX(-100%);
                transition: transform 0.3s ease;
            }
            .content-name,.content-email,.content-message,.content-subject{
                position: absolute;
                bottom: 5px;
                left: 0;
                transition: all 0.3s ease;
            }
            input:focus + .label-name .content-name, input:valid + .label-name .content-name,input:focus + .label-email .content-email, input:valid + .label-email .content-email,input:focus + .label-message .content-message, input:valid + .label-message .content-message,input:focus + .label-subject .content-subject, input:valid + .label-subject .content-subject{
                transform: translateY(-140%);
                font-size: 14px;
                color: red;
            }
            input:focus + .label-name::after, input:valid + .label-name::after,input:focus + .label-email::after, input:valid + .label-email::after,input:focus + .label-message::after, input:valid + .label-message::after,input:focus + .label-subject::after, input:valid + .label-subject::after{
                transform: translateX(0%);
            }
        }
        .touch{
            position: absolute;
            width: 100%;
            height: 20vh;
            overflow: hidden;
            top: 73%;
            left: 0;
            color: red;
            text-align: center;
            box-sizing: border-box;
            // border: 1px solid white;
            // margin-top: -50px;
            padding: 10px 0;
            .touch-get{
                font-size: 1.3em;
                margin-bottom: 5px;
                font-weight: lighter;
                font-family: 'Poppins';
            }
            svg{
                height: 30px;
                width: 30px;
                margin: 5px 0;
                color: white;
            }
            h5{
                text-transform: uppercase;
                color: white;

            }
            .touch-email{
                font-size: 15px;
                font-weight: lighter;
                margin-top: 10px;
                font-family: 'Poppins';
            }
        }
    }
footer{
    position: absolute;
    top:85.5%;
    margin-left: 2em;
    font-family: 'Poppins';
    font-weight: bold;
    h1{
        font-size: 4.5em;
        color: red;
    }
}

@media only screen and (min-width: 768px){
    header{
        .nav-title{
            .logo{
                font-size: 0.6rem;
                margin-top: 5px;
            }
        }
        .links{
            ul{
                margin-top: 2px;
                font-size: 1rem;
            }
        }
    }
    .social{
        margin-right: 1rem;
        position: absolute;
        top: 82%;
        .social-links{
            a{
                svg{
                    height: 25px;
                    width: 25px;
                    margin: 3px;
                }
            }
        }
    }
    main{
        width: 75%;
        height: 80vh;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }
}
@media only screen and (min-width: 1024px){
    main{
        width: 50%;
        height: 80vh;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }
}