*{
    margin: 0;
    padding: 0;
}
:root{
    
}
body{
    // margin: 0;
    // padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: #202020;
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
}
// .page{
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     display: grid;
//     grid-template-columns: 5% 1fr 5%;
//     grid-template-rows: 10% 1fr 1fr;
//     // grid-row-gap: 10px;
//     top: 0%;
//     left: 0%;
//     .images{
//         width: 100%;
//         height: 100%;
//         background: white;
//         cursor: crosshair;
//         grid-column: 2/3;
//         grid-row: 2/3;
//         justify-content: center;
//         align-content: center;
//         img{
//             box-sizing: border-box;
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             border: 10px solid white;
//             overflow: hidden;
//             // box-shadow: 5px 10px 18px black;
//         }
//     }
//     .content{
//         width: 100%;
//         height: 100%;
//         grid-column: 1/4;
//         grid-row: 3/4;
//         font-family: 'Montserrat';
//         background: white;
//         color: black;
//         overflow: hidden;
//         position: relative;
//         // transform: translateY(100%);
//         .content-header{
//             position: absolute;
//             top: 5%;
//             left: 5%;
//             text-transform: uppercase;
//             font-size: 1.4em;
//             font-weight: lighter;
//             margin-bottom: 10px;
//         }
//         .content-info{
//             position: absolute;
//             top: 25%;
//             left: 5%;
//             width: 85%;
//             margin: 0 auto;
//             color: red;
//             font-family: 'Montserrat';
//             font-weight: lighter;
//         }
//     }
//     .activeState{
//         transform: translateY(100%);
//     }
// }
// .pages {
//     display: none;
//     position: absolute;
//     right: 2%;
//     top: 50%;
//     transform: translateY(-50%);
//   }
//   .pages > div {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-bottom: 20px;
//   }
//   .pages svg {
//     cursor: pointer;
//     opacity: 0.5;
//     transform: scale(2);
//   }
//   .pages svg:hover {
//     animation: dot 0.5s ease-in-out infinite alternate;
//   }
  
//   .pages svg.active {
//     opacity: 1;
//   }
//   .image{
//       opacity: 0;
//       pointer-events: none;
//   }
//   @keyframes dot {
//     0% {
//       transform: scale(2);
//     }
//     100% {
//       transform: scale(4);
//     }
//   }
.portfolio-heading{
    box-sizing: inherit;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    box-sizing: border-box;
}
.swiper-container {
    box-sizing: inherit;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 50px;
    padding-bottom: 50px;
}
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    img{
        width: 100%;
        height: 85%;
    }
    .content{
        margin-top: 10px;
        background: none;
        span{
            font-family: 'Montserrat';
            color: white;
            font-size: 1.5em;
        }
        p{
            font-family: 'Poppins';
            color: white;
            margin-top: 5px;
            font-weight: lighter;
            font-size: 14px;
        }
    }
  }
.swiper-pagination{
    display: none;
}
// .animsition{
//     width: 100%;
//     height: 100vh;
// }
header{
    box-sizing: inherit;
    position: absolute;
    top: 0%;
    // height: 20vh;
    font-family: 'Poppins';
    font-weight: bold;
    // color: white;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
    .nav-title{
        display: flex;
        justify-content: space-between;
        margin: 2em;
        .logo{
            font-size: 6px;
            margin-top: 5px;
            a{
                text-decoration: none;
                color: white;
                font-family: 'Poppins';
                font-weight: bold;
            }
        }
        nav {
        font-size: 11px;
        margin-top: 6px;
            ul{
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(255, 0, 0);
                padding: 5px;
            }
            }
        }
        
    }
}
.social{
    position: absolute;
    top: 78%;
    right: 2%;
    margin-right: 2em;
    z-index: 1;
    .social-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            color:white;
            margin: 0;
            padding: 1px;
            svg{
                width: 23px;
                height: 23px;
                margin: 3px; 
            }
        }
    }
}
footer{
    position: absolute;
    top:85.5%;
    margin-left: 2em;
    font-family: 'Poppins';
    font-weight: bold;
    h1{
        font-size: 4.5em;
        color: red;
    }
}
